* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
/* body {
    background-color: red
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Rockwell;
}

/* tutto un insieme header */
.container {
    margin-left: 15%;
    margin-right: 0%;
}


.riga{
    width: 100%;
}

.col25{
    width: 20%;
    float: left;
}

.col50{
    width: 55%;
    float: left;
}
/* tutto un insieme header */


/* classi dello stile header */
header {
    background-color: rgba(49,97,224,255);
    height: 60px;
    color: white;
}

.menu
ul
li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    font-size: 90%;
}

.menu {
    padding-top: 20px;
    margin-left: 30px;
}

.logo-discord {
    padding-top: 20px;
}

.buttonAccedi{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 18px;
    border: white;
    margin-top: 20px;
    height: 30px;
    font-size: 70%;
}
/* classi dello stile header*/


/* immagine di background principale */
.container2 {
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
}