* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
/* body {
    background-color: red
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.container {
    max-width: 100%;
    height: 1000px;
    width: 100%;
    margin: auto;
    background-image: url("../img/jumbo.png");
    background-color: #cccccc;
}


header {
    background-color: rgba(49,97,224,255);
    margin-bottom: 20px;
    height: 150px;
    color: white;
}


.menu
ul
li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
}


.logo-discord {
    height: 30px;
    vertical-align: middle;
    color: white;
    padding-top: 30px;
    margin-left: 400px;
}


.bottoneAccedi{

}