* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
/* body {
    background-color: red
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* tutto un insieme */
.container {
    margin-left: 15%;
    margin-right: 15%;
}


.riga{
    width: 100%;
}

.col25{
    width: 25%;
    float: left;
}

.col50{
    width: 50%;
    float: left;
}
/* tutto un insieme */






/* classi dello stile */
header {
    background-color: rgba(49,97,224,255);
    margin-bottom: 20px;
    height: 150px;
    color: white;
}

.menu
ul
li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
}

.menu {
    padding-top: 30px;
}

.logo-discord {
    height: 30px;
    color: white;
    padding-top: 30px;
}

.bottoneAccedi{
    padding-top: 30px;
}
/* classi dello stile */